.App {
	text-align: center;
	padding-bottom: 3rem;
}

.aboutUsImage {
	height: 450px;
	background-image: url("./knt-RuIRLhBqWkg-unsplash.jpg");
	background-size: cover;
}

header.masthead {
	height: 400px;
	background: top center;
	background-image: url("./knt-RuIRLhBqWkg-unsplash.jpg");
	background-size: cover;
	display: grid;
	justify-content: center;
	align-items: flex-end;
}

header.masthead .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 400px;
	width: 100vw;
	background-color: #212529;
	opacity: 0.5;
}

.site-heading {
	z-index: 500;
	padding-bottom: calc(3rem + 5vmin);
}

.align-heading {
	padding-bottom: calc(8rem + 5vmin);
}

.site-heading h1 {
	font-size: calc(1.5rem + 2vmin);
}

.site-heading h2 {
	font-size: 1.1rem;
}

.main-wrapper {
	max-width: 1000px;
	margin: 2rem calc(2rem + 5vmin);
	display: grid;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1000px) {
	.main-wrapper {
		margin: 2rem auto;
	}

	header.masthead {
		height: 450px;
	}

	header.masthead .overlay {
		height: 450px;
	}
}

@media (max-width: 500px) {
	header.masthead {
		height: 350px;
	}

	header.masthead .overlay {
		height: 350px;
	}
}

.rating {
	color: #ffc107;
}

.page-link {
	cursor: pointer;
}

.bg-custom {
	background-color: #483b4b;
	transition: 0.5s ease;
}
